
body {
  color: #ffffff; 
}
a:link { color: #ffffff; }
a:visited { color: #ff0000; }
a:hover { color: #ffffff; }
/* 强调文本 */
.botton {
  color: #dc3545; /* 危险色（红色） */
}
.text-primary {
  color: #0d6efd; /* 主色调（蓝色） */
}
.search-container{
  display: flex;
  width: 500px;
  height: 50px;
  line-height: 50px;
}
.search-container input{
  flex: 1;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  outline: none;
  border: none;
   border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0 20px;
  transition: all .3s;

}
.search-container button{
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  border: none;
  box-sizing: border-box;
  font-size: 20px;
  cursor: pointer;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.search-container input:focus{
  box-shadow: 0 0 5px #eee;

}